{% extends 'base.html' %}
{% load static %}

{% block content %}
    <p class="lead text-center">{{ checkDateTime }} | {{ checkTime }}</p>
    <div class="container text-center">
        <a href="#" target="_blank" class="btn btn-outline-dark btn-floating px-5 m-3">About Us</a>
        <a href="#" target="_blank" class="btn btn-outline-dark px-5 m-3">Contact Us</a>
        <a href="#" target="_blank" class="btn btn-outline-danger px-5 m-3">Donate Blood</a>
    </div>

    <!-- background video -->
{#    <div class="rectangle bg-secondary" style="width: 100%; height: 800px; overflow: hidden; position: relative;">#}
{#        <video loop muted autoplay src="{% static 'home/pexels-suraphat-nueaon-6740283.mp4' %}" controls></video>#}
{#    </div>#}

{#    <div class="rectangle bg-secondary m-4 " style="width: 100%; height: 600px; overflow: hidden; position: relative;">#}

    <div class="container mx-6 my-3" style="width: 100%; height: 700px; overflow: hidden; position: relative;">
        <img src="{% static 'home/pexels-mehmet-turgut-kirkgoz-11576242.jpg' %}"
             alt="Poverty"
             style="height: 800px; width: 100%; "
             class="img-responsive"
        >
        <div class="text" style="text-align: justify">Overlay</div>
    </div>
{% endblock %}